.container.py-5 {
    height: 100%;
}

.container-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding-top: 10%;
}

.home-img-container {
    display: grid;
    place-items: center;
}

.home-img {
    width: 280px;
}

.home-about {
    text-align: center;
}

.home-about > p {
    padding-top: 4%;
    padding-left: 3%;
    padding-right: 3%;
    margin: auto;
    max-width: 800px;
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
    line-height: 1.7;
    color: #3d3d3d;
    margin-bottom: 2.5rem;
}

.tech-stack-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.tech-stack-item {
    margin-left: 2rem;
    margin-right: 2rem;

}

.tech-stack-ico {
    width: 3rem;
}

.tech-stack-break {
    flex-basis: 100%;
    height: 2rem;
}

.home-links {
    display: grid;
    text-align: center;
    margin: 2.5rem;
    max-width: 800px;
}

.home-links > a {
    color: #3d3d3d;
    font-size: 1.8rem;
    letter-spacing: 0.15rem;
    line-height: 1.7;
    font-weight: bold;
}

.home-links > a:hover {
    color: #aaaaaa;
}
