.content-project-section {
    padding-top: 1%;
    padding-left: 3%;
    padding-right: 3%;
    text-align: center;
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
    line-height: 1.7;
    color: #3d3d3d;
    align-items: center;
    margin-bottom: 8rem;
}

.content-project-section > p {
    margin: auto;
    max-width: 800px;
    margin-bottom: 0.9rem;
}

.apps-project {
    margin-left: 10rem;
    margin-right: 10rem;
    row-gap: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 2.5rem;
    margin-top: 2.5rem;
}

.apps-project-item {
    flex: 0 0 25%;
    white-space: nowrap; /* Prevent text from wrapping to the next line */
    overflow: hidden; 
}

.apps-project-ico {
    width: 4rem;
}

.carousel-item {
    flex: 0 0 20%; /* Adjust the width based on the number of images */
    transition: transform 0.3s;
}

@media only screen and (max-width: 768px) {
    .content-project-section {
        font-size: 1.4rem;
        letter-spacing: 0.1rem;
        line-height: 1.2;
        margin-bottom: -5rem;
    }
    
    .content-project-section > p {
        margin: auto;
        max-width: 800px;
        margin-bottom: 0.9rem;
    }

    .apps-project {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .apps-project-item {
        flex: 0 0 50%;
        margin-left: 0rem;
        margin-right: 0rem;
    }
}
